#main .first{
    background-color: green;
}
#main .second{
    background-color: orange;
}
#main .third{
    background-color: gray;
}

#main .inline-paragraph{
    padding: 5px;
}
@media screen and (width>500px) {
    #main{
        display: flex;
    }
}
@media screen and (width<=500px) {
    #main .inline-paragraph{
        margin: 0;
    }
}